<div>
  <h2 id="page-heading" data-cy="TestCaseHeading">
    <span jhiTranslate="bifastsimulatorApp.bifastsimulatorTestCase.home.title">Test Cases</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="bifastsimulatorApp.bifastsimulatorTestCase.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-test-case"
        [routerLink]="['/bifastsimulator/test-case/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bifastsimulatorApp.bifastsimulatorTestCase.home.createLabel">Create a new Test Case</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (testCases?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="bifastsimulatorApp.bifastsimulatorTestCase.home.notFound">No Test Cases found</span>
    </div>
  }

  @if (testCases && testCases.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="caseName">
              <div class="d-flex">
                <span jhiTranslate="bifastsimulatorApp.bifastsimulatorTestCase.caseName">Case Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="responseBody">
              <div class="d-flex">
                <span jhiTranslate="bifastsimulatorApp.bifastsimulatorTestCase.responseBody">Response Body</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="transactionStatus">
              <div class="d-flex">
                <span jhiTranslate="bifastsimulatorApp.bifastsimulatorTestCase.transactionStatus">Transaction Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="responseCode">
              <div class="d-flex">
                <span jhiTranslate="bifastsimulatorApp.bifastsimulatorTestCase.responseCode">Response Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isActive">
              <div class="d-flex">
                <span jhiTranslate="bifastsimulatorApp.bifastsimulatorTestCase.isActive">Is Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="category.id">
              <div class="d-flex">
                <span jhiTranslate="bifastsimulatorApp.bifastsimulatorTestCase.category">Category</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (testCase of testCases; track trackId(testCase)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/bifastsimulator/test-case', testCase.id, 'view']">{{ testCase.id }}</a>
              </td>
              <td>{{ testCase.caseName }}</td>
              <td>{{ testCase.responseBody }}</td>
              <td>{{ testCase.transactionStatus }}</td>
              <td>{{ testCase.responseCode }}</td>
              <td>{{ testCase.isActive }}</td>
              <td>
                @if (testCase.category) {
                  <div>
                    <a [routerLink]="['/bifastsimulator/test-category', testCase.category.id, 'view']">{{ testCase.category.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/bifastsimulator/test-case', testCase.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/bifastsimulator/test-case', testCase.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(testCase)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (testCases && testCases.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
